.popImg {
    height: 40px;
    border-radius: 50%;
    cursor: pointer !important;
}

.popUserImg {
    height: 50px;
    border-radius: 50%;
}

.userName, 
.userEmail {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
}

.userEmail {
    margin: 0.1rem 0 0.5rem;
    font-weight: 600;
    font-size: 0.4rem;
    color: rgb(229, 227, 227);
}

.large-popover {
    width: 500px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
