.calendar-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Adjust based on your preference */
}

.calendar-design {
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 600px;
    font-size: 40px;
    
}

.calendar-design:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.custom-button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50px;
}

.custom-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.bg-white {
    background-color: #ffffff !important;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.test{
    margin-left: 100px;
    width: 70vw;
}